.edit-profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3498db; /* Background color for the entire page */
  }
  
  .edit-profile-form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100vh;
  }

.input-field-container {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    margin-bottom: 20px;
}

.photo-field-container {
    display: grid;
    /* flex-wrap: wrap; */
    align-items: center;
    margin-bottom: 20px;
}

.input-field-container > ion-label {
    margin-right: 20px;
}

.input-field-container > ion-input {
    text-align-last: start;
    border-bottom: 2px solid var(--ion-color-secondary);
}

.input-field-container ion-label {
    width: 25%;
    text-align: start;
}

.input-field-container ion-input {
  width: 70%; /* Set the width to 100% */
}