.status-label {
    padding: 5px;
    border-radius: 4px;
    margin-right: 10px;
    /* Adjust as needed for spacing */
}

.fed-label {
    background-color: var(--ion-color-secondary);
    color: #fff;
    /* Adjust text color as needed */
}

.missing-label {
    background-color: var(--ion-color-tertiary);
    color: #fff;
    /* Adjust text color as needed */
}

/* Add these styles to your CSS/SCSS file */
.label-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    place-content: center;
    /* Adjust as needed for spacing */
}

.status-label {
    padding: 5px;
    border-radius: 4px;
    margin-right: 10px;
    /* Adjust as needed for spacing */
    background-color: var(--ion-color-secondary);
    /* Adjust background color */
    color: #fff;
    /* Adjust text color */
}

.reports-colonies-card, .user-colonies-card {
    padding: 5px !important;
    margin: 5px !important;
}