/* RegisterCats.css */

.register-cats-form {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* Centra los elementos horizontalmente */
    justify-content: flex-start;
    width: 100%;
    max-width: 500px;
    /* Limita el tamaño del formulario */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.register-individual-cat {
    width: 100%;

}

.select-wrapper {
    justify-content: center;
}

.input-field,
.select-field,
.textarea-field {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    color: black;
}

.register-cats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Hace que el contenedor ocupe toda la altura de la pantalla */
    padding: 0 20px;
    /* Agrega un poco de espacio a los lados */
}

/* Estilo general para la tarjeta */
.cat-card {
    background-color: #ffffff;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 95%;  /* Esto asegura que la tarjeta ocupe el 100% del ancho disponible */
    box-sizing: border-box;  /* Incluye bordes y padding en el cálculo del ancho */
}

/* Estilo para el encabezado de la tarjeta */
.cat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    color: black;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

/* Estilo para el contenido de la tarjeta */
.cat-card-body {
    padding: 15px;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;  /* Esto permite que la tarjeta tenga barra de desplazamiento si el contenido excede */
    max-height: 500px;  /* Limita la altura máxima de la tarjeta */
}

/* Asegura que el contenedor de las tarjetas ocupe todo el espacio disponible */
.register-cats-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

/* Opcionalmente, puedes agregar un contenedor para un layout de 2 columnas */
@media (min-width: 768px) {
    .register-cats-form {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dos columnas */
        gap: 15px;
    }

    .cat-card {
        /* Ajusta las tarjetas para que no ocupen todo el ancho en pantallas grandes */
        width: 100%;
    }
}
